section {
    border: 2px dotted grey;
    margin-bottom: 20px;
    padding: 20px;
}
.section1 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.section3 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}