@import url('https://fonts.googleapis.com/css2? family= 개구 & display=swap');

* {
    font-family: Jua;
}
.ul {
    slist-style-type: none;
}
.a {
    color:brown;
    font-size: x-large;
    font-weight: bold;
}